<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      .sec
      {
        background-color: black;
        height: 100px;
      }
    </style>
</head>
<body>
    <div class="sec">
        <h1>sign in or rigister here:</h1>
        <form method="POST" action="register" >
            {% csrf_token %}
            <p>user name:</p>
            <input type="text" name="username" placeholder="username">
            <p> email:</p>
            <input type="text" name="email" placeholder="Email">
            <p>adhar number:</p>
            <input type="text" name="adhar" placeholder="adhar number">
            <br>
            <input type="submit" id="btn"/>
        </form>
    </div>
</body>
</html>

<style>
    .sec{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1{
        color: aqua;
    }


</style>